@using Sitecore.Mvc
<!DOCTYPE html>
<html>
<head>
    <title>@Html.Sitecore().Field("Title")</title>
</head>
<body>
    <main>
        @Html.Sitecore().Placeholder("main")
    </main>
</body>
</html>
